@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

.search-results-page {
  @include flex(flex-start, flex-start);
  flex-direction: column;
  width: 100%;
  row-gap: $padding-sm;
  padding: $padding-sm 0 $padding-lg;

  &__breadcrumb {
    width: 100%;
    font-size: $font-size-sm;
    color: $medium-gray
  }

  &__container {
    width: 100%;
    background-color: $white;
    border-radius: 0.4rem;
    margin: 0;
    box-shadow: $light-white 0px 8px 24px;
    padding: 0 $padding-sm 0 $padding-sm;
  }
}