@use '../../../../styles/mixins' as *;
@use '../../../../styles/variables' as *;

.item {
  @include flex(flex-start, flex-start);
  height: 18rem;
  width: 100%;
  background-color: inherit;
  margin: $padding-sm 0;
  border-radius: 0.4rem;
  transition: all ease-in-out 300ms;

  &:hover {
    cursor: pointer;
    box-shadow: $medium-gray 0px 4px 12px;
  }

  &__image-container {
    @include flex(center, center);
    margin: 0 $padding-sm 0 0;
    position: relative;


    &__image {
      width: 18rem;
      height: 18rem;
      border-radius: 0.4rem;
    }
  }

  &__info-container {
    @include flex(flex-start, flex-start);
    flex-direction: column;
    margin: 0;
    flex-grow: 1;
    padding-top: $padding-sm;
    row-gap: $padding-lg;

    &__header {
      @include flex(center, space-between);
      width: 100%;

      &__detail {
        @include flex(center, flex-start);
        margin: 0;
        column-gap: $padding-sm;
        width: 80%;

        &>* {
          margin: 0;
        }

        &__price {
          font-size: $font-size-2xl;
        }

        &__icon {
          width: 2rem;
          height: 2rem;
        }

      }

      &__city {
        @include flex(center, flex-start);
        margin: 0;
        width: 20%;

        &__value {
          font-size: $font-size-xs;
          color: $medium-gray;
          margin: 0;
        }
      }
    }

    &__description {
      @include flex(flex-start, flex-start);
      width: 100%;

      &__value {
        width: 80%;
        font-size: $font-size-lg;
        margin: 0;
        padding: 0;
        line-height: $font-size-2xl;
      }
    }



  }
}