@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.header {
  @include flex-center;
  position: sticky;
  top: 0;
  background-color: $primary-yellow;
  z-index: 1000;
  padding: 1rem 0;

  &__content {
    @include flex(center, space-between);
    flex-grow: 1;
    max-width: 1000px;
    background-color: inherit;
    
    &__logo-container {
      @include flex-center;
      background-color: inherit;
      
      &__logo {
        background-color: inherit;
        aspect-ratio: 16/9;
        width: 10rem;
        height: 5rem;
        object-fit: contain;
      }
    }

    &__search-container {
      position: relative;
      @include flex-center;
      width: 90%;
      
      &__input {
        width: 100%;
        padding: $padding-sm;
        border: none;
        color: $light-gray;
        background-color: $white;
        font-size: $font-size-lg;
        border-radius: 0.4rem 0 0 0.4rem;

        &:focus {
          border-color: $primary-blue;
        }
      }

      &__icon-container {
        background-color: $light-white;
        padding: $padding-sm;
        border-radius: 0 0.4rem 0.4rem 0; 

        &__icon {
          background-color: inherit;
          height: 1.9rem;
          pointer-events: none
        }
      }

    }
  }
}