@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.header {
  @include flex-center;
  position: sticky;
  top: 0;
  background-color: $primary-yellow;
  z-index: 1000;
  padding: 1rem 0;

  &__content {
    @include flex(center, space-between);
    max-width: 1000px;
    width: 100%;
    background-color: inherit;

    &__logo-container {
      @include flex(center, flex-start);
      background-color: inherit;
      width: 7rem;
      height: 5rem;
      padding: 0;
      margin: 0;

      &__logo {
        background-color: inherit;
        aspect-ratio: 16/9;
        width: 100%;
        height: 100%;
        object-fit: contain;
      }

      &:hover{
        cursor: pointer;
      }
    }

    &__search-container {
      position: relative;
      @include flex-center;
      align-self: flex-end;
      width: 90%;
      background-color: inherit;
      margin: 0;

      &__input {
        width: 100%;
        padding: $padding-sm;
        border: none;
        color: $dark-gray;
        background-color: $white;
        font-size: $font-size-lg;
        border-radius: 0.4rem 0 0 0.4rem;

        &:focus {
          border-color: $primary-blue;
          outline: none;
        }
      }

      &__icon-container {
        background-color: $light-white;
        padding: $padding-sm;
        border-radius: 0 0.4rem 0.4rem 0;
        transition: all ease-in-out 300ms;

        &__icon {
          background-color: inherit;
          height: 1.9rem;
          transition: transform ease-in-out 300ms;
        }

        &:hover {
          background-color: $light-gray;
          cursor: pointer;

          &>* {
            transform: scale(1.1);
          }
        }
      }

    }
  }
}